#topHeader {
    
    border-bottom: 1px solid #ebebeb;
}
#topHeader a{
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.89rem;
}
.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}
nav ul li a {
    font-size: 1.1rem;
    font-weight: 600;
}

/* start: footer */
.full-footer{
    background-color: #243c4f;
   
}
.top-footer p{
    color: white;
}
.top-footer a{
    color: white;
    font-weight: 600;
}
.top-footer h3{
    color: white;
}
.bottom-footer{
    background-color: #19232e;

}
.bottom-footer p{
    color: white;
}
/* end: footer*/

/* START of first home page hero section*/

.top-hero-section{
    background-color: #3498db;
    color: white;

}
.top-hero-section a{
    color: white;
    font-weight: 600;

}
/* END: of first home page hero section*/

/* Start: of third home page hero section*/
.requirements-section{
    background-color: #004d80;
    color: white;
}
/* END: of third home page hero section*/

/* start: of 5th home page hero section*/

.home-newsletter{
    background-color: #004d80;

}
.home-newsletter h3{
    color: white;

}
.home-newsletter h4{
    color: white;

}
.home-newsletter .form-control {
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
    width: 100px;
    
}
.home-newsletter .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: white;
}
/* END: of 5th home page hero section*/

/* START: of 7th home page client section*/
.clients-section{
    background-color: #f0f0f0;
}
/* END: of 7th home page client section*/

/*End -----------------------of home page-------------------------*/


/* START ---------------------of about us page--------------------*/

.breadcrumbs-section{
    background-color: #e9ecef;
}
/* END ---------------------of about us page--------------------*/


/* START ---------------------of about us page--------------------*/

.address p{
    font-weight: 600;

}



/* END ---------------------of about us page--------------------*/

.bar{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 15px;
    border: 2px solid slategray;
}